[flake8]
ignore = E501,W503,E203,F821
include = src
max-line-length = 88
max-doc-length = 88
# mccabe cyclomatic complexity
max-complexity = 7
# flake8-expression-complexity
max-expression-complexity = 5.5
# flake8-class-attributes-order
use_class_attributes_order_strict_mode=True